/* ******************* */
/* HERO */
.section-hero {
  padding: 7.2rem 0;
}

.hero {
  max-width: 130rem;
  padding: 0 2.4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  align-items: center;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.hero-subtext {
  font-size: 3.2rem;
  font-weight: 700;
  color: #4a4a4a;
  margin-top: -1.2rem;
}

.hero-img {
  width: 100%;
  border-radius: 12px;
}

/* career BACKGROUND SPECIFIC */
.bg-category {
  padding: 0 2.4rem;
}

.bg-description {
  /* margin: 0.8rem 0 4rem 0; */
  max-width: 66rem;
}

.warning {
  color: #da2f35;
  margin-bottom: 1.6rem;
}

/* skill TAGS */
.tag--red {
  background-color: #efa6a9;
}

.tag--orange {
  background-color: #eaac8b;
}

.tag--plum {
  background-color: #d3a3ad;
}

.tag--blue {
  background-color: #d7dce2;
}

.tldr--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b56576;
}

.quote {
  color: #b56576;
  margin-bottom: 0.8rem;
}

.quote--name {
  font-size: 1.6rem;
  color: #4a4a4a;
  font-style: italic;
  font-weight: 400;
}

.list {
  padding: 1.2rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
